# Ignorowanie plików backendu
backend/symfony/vendor/
backend/symfony/var/
backend/symfony/.env

# Ignorowanie plików frontendu
frontend/node_modules/
frontend/dist/

# Ignorowanie plików Dockera
pgdata/
.DS_Store
