framework:
  messenger:
    transports:
      async: '%env(MESSENGER_TRANSPORT_DSN)%'

    routing:
      'App\Message\SendWelcomeEmailMessage': async
      'App\Message\AdminNewUserRegisteredMessage': async
      'App\Message\UserApprovedEmailMessage': async